---
import Layout from '../layouts/Layout.astro';

import DatedRow from '../components/DatedRow.astro';
import Publication from '../components/Publication.astro';
import Grid from '../components/Grid.astro';
import LinkGrid from '../components/LinkGrid.astro';
import Project from '../components/Project.astro';
import Funding from '../components/Funding.astro';

import cvData from '../data/cv.json';

---

<Layout title="Jeremy Georges-Filteau - CV" description='You can find my CV here.'>
	<main>
		<h1>Jeremy Georges-Filteau</h1>
		
		<p>
			<a href="mailto:jeremygeo@gmail.com">jeremygeo@gmail.com</a>
			 | <a href="tel:+15818491348">581-849-1348</a>
			 | <a href="https://jeremygf.com">jeremygf.com</a>
		</p>
		<em>Machine Learning Engineer, Computational Biologist</em>
		<p>
			I am a highly adaptable programmer with an advanced background in machine learning and computational biology.
			I excel at understanding complex problems rapidly and proposing practical solutions that bridge various fields.
		</p>
		<LinkGrid items={cvData.links} />

		<h2>Skills</h2>
		<Grid items={cvData.skills} />
		
		<h2>Experience</h2>
		<table>
			<tbody>
				{cvData.experience.map((job) => (
					<DatedRow row={job} />
				))}
			</tbody>
		</table>

		<h2>Projects</h2>

		<table>
			<tbody>
			{cvData.projects.map((project) => (
				<Project row={project} />
			))}
			</tbody>
		</table>

		<h2>Certificates</h2>
		<table>
			<tbody>
				{cvData.certificates.map((certificate) => (
					<Project row={certificate} />
				))}
			</tbody>
		</table>

		<h2>Education</h2>
		<table>
			<tbody>
				{cvData.education.map((school) => (
					<DatedRow row={school} />
				))}
			</tbody>
		</table>

		

		<h2>Publications</h2>
		<table>
			<tbody>
			{cvData.publications.map((publication) => (
				<Publication row={publication} />
			))}
			</tbody>
		</table>

		<h2>Grants</h2>
		<table>
			<tbody>
			{cvData.grants.map((funding) => (
				<Funding row={funding} />
			))}
			</tbody>
		</table>

		<h2>Interests</h2>
		<Grid items={cvData.interests} />

		<h2>Languages</h2>
		<Grid items={cvData.languages} />

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1em;
		max-width: 8.5in;
		font-size: 0.8em;
	}

	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 1.5em;
	}

</style>
